In [29]:
import numpy as np 
import pandas as pd 
import joblib

In [30]:
df = pd.read_csv('diabetes_prediction_dataset.csv') 
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [31]:
df = df[df['smoking_history'] != 'No Info'] 
df.drop(columns = ['HbA1c_level'],inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_14724\4007886391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['HbA1c_level'],inplace = True)

In [32]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,140,0
2,Male,28.0,0,0,never,27.32,158,0
3,Female,36.0,0,0,current,23.45,155,0
4,Male,76.0,1,1,current,20.14,155,0
5,Female,20.0,0,0,never,27.32,85,0
...,...,...,...,...,...,...,...,...
99992,Female,26.0,0,0,never,34.34,160,0
99993,Female,40.0,0,0,never,40.69,155,0
99997,Male,66.0,0,0,former,27.83,155,0
99998,Female,24.0,0,0,never,35.42,100,0
99999,Female,57.0,0,0,current,22.43,90,0

In [7]:
df = df[df['gender'] != 'Other']

In [8]:
df  

X = df.drop(columns = ['diabetes']) 
y = df['diabetes']

In [9]:
# define the columuns 
binary_columns = ["hypertension", "heart_disease"]
numerical_columns = ["age", "bmi", "blood_glucose_level"]
categorical_columns = ["smoking_history","gender"]

In [10]:
df_encoded = pd.get_dummies(df, columns=["smoking_history", "gender"], drop_first=True)

In [11]:
df_encoded.head()

,age,hypertension,heart_disease,bmi,blood_glucose_level,diabetes,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,gender_Male
0,80.0,0,1,25.19,140,0,False,False,True,False,False
2,28.0,0,0,27.32,158,0,False,False,True,False,True
3,36.0,0,0,23.45,155,0,False,False,False,False,False
4,76.0,1,1,20.14,155,0,False,False,False,False,True
5,20.0,0,0,27.32,85,0,False,False,True,False,False

In [12]:
df['gender'].value_counts()

gender
Female    38852
Male      25320
Name: count, dtype: int64

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
# Initialize the StandardScaler
scaler = StandardScaler()

In [15]:
# Fit and transform the numerical columns
df_encoded[numerical_columns] = scaler.fit_transform(df_encoded[numerical_columns])

In [16]:
df_encoded.head()

,age,hypertension,heart_disease,bmi,blood_glucose_level,diabetes,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,gender_Male
0,1.712053,0,1,-0.496363,0.008780,0,False,False,True,False,False
2,-0.949217,0,0,-0.169471,0.435660,0,False,False,True,False,True
3,-0.539791,0,0,-0.763401,0.364513,0,False,False,False,False,False
4,1.507340,1,1,-1.271387,0.364513,0,False,False,False,False,True
5,-1.358643,0,0,-0.169471,-1.295577,0,False,False,True,False,False

In [17]:
X = df_encoded.drop(columns = ['diabetes']) 
y = df_encoded['diabetes']

In [33]:
from imblearn.over_sampling import SMOTE

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
# Apply SMOTE to the training data
smote = SMOTE(random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

In [41]:
X_train

,age,hypertension,heart_disease,bmi,blood_glucose_level,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,gender_Male
0,1.558518,0,0,0.200392,-1.177000,False,False,False,True,False
1,1.712053,1,0,1.306912,2.854650,False,False,True,False,False
2,0.637309,0,0,-0.422697,-1.414155,False,False,True,False,False
3,0.023170,0,0,-0.783352,0.364513,False,False,True,False,False
4,-0.079186,0,0,2.140255,0.459376,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...
91377,0.954139,0,0,-0.169471,0.387104,False,False,False,False,False
91378,1.653449,0,1,-0.035767,0.100201,False,False,False,True,True
91379,0.880980,0,1,0.252622,0.054473,True,False,False,False,True
91380,0.159710,0,0,0.300523,0.127358,False,False,True,False,True
91381,1.674776,1,0,-0.169471,0.095148,False,False,True,False,False

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [44]:
model = LogisticRegression()
model.fit(X_train, y_train)  # Train the model
y_pred = model.predict(X_test)  # Make predictions

In [45]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8121542656797819

In [46]:
# joblib.dump(model, 'predict_diabetes_model.joblib')

['predict_diabetes_model.joblib']

In [20]:
# joblib.dump(scaler, 'scaler.joblib')

['scaler.joblib']

In [26]:
# # Save column order during training
# column_order = df_encoded.drop(columns=['diabetes']).columns
# joblib.dump(column_order, 'column_order.joblib')

['column_order.joblib']